.sectionTitle {
    padding-top: 64px;
    padding-bottom: 64px;
    background: #191919;

    @media (min-width: 768px) {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    @media (min-width: 1800px) {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

.myContainer {
    padding-inline: 12px !important;
    /* padding-inline: calc(var(--mantine-spacing-lg)* 6.25) !important; */
    max-width: 50rem !important;
    width: 100%;
    @media (min-width: 450px) {
        padding-inline: 24px !important;
    }
    @media (min-width: 576px) {
        padding-inline: 12px !important;
        /* max-width: 540px !important; */
    }
    @media (min-width: 768px) {
         max-width: 720px !important;
    }
    /* @media (min-width: 992px) {
        max-width: 970px !important;
        padding-inline: 15px !important;
    } */
    @media (min-width: 1025px) {
        max-width: 970px !important;
        padding-inline: 15px !important;
    }
    @media (min-width: 1800px) {
        padding-inline: 15px !important;
    }
    /* @media (min-width: 1200px) {
      max-width: 1140px !important;
    }
    @media (min-width: 1400px) {
      max-width: 1320px !important;
    }
    @media (min-width: 1800px) {
      padding-inline: 15px !important;
    }
    @media (min-width: 1900px) {
      max-width: 1700px !important;
    } */
}

.row {
    position: relative;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

/* .columnContent {
    display: flex;
    z-index: 1;
    align-items: center;
    flex-direction: column;
    padding-inline: calc(1.5rem* .5);

    @media (min-width: 768px) {
        flex: 0 0 auto;
        width: 66.66666667%;
    }

    @media (min-width: 1025px) {
        padding-inline: 15px;
    }
}
 */
.titleBox {
    width: 100%;
    padding-bottom: 2.5rem;

    @media only screen and (min-width: 768px) {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: 1025px) {
        padding-bottom: 50px;
    }
}

.title {
    font-family:  var(--mantine-font-family) !important;
    font-size: calc(1.075rem + 1.5vw) !important;
    font-weight: 800 !important;
    line-height: 1.2 !important;
    color: var(--mantine-color-white);
    letter-spacing: -0.025em;
    text-align: center;
    clear: both;
    margin-top: 1rem !important;
    overflow: hidden;
    display: block;
    text-transform: uppercase;

    @media (min-width: 1025px) {
        margin-top: 20px !important;
    }

    @media (min-width: 1200px) {
        font-size: 45px !important;
    }
}

.borderLine {
    width: 45px;
    height: 2.5px;
    background: var(--mantine-color-white);
    margin-left: 40%;

    @media (min-width: 768px) {
        margin-left: 47.5%;
    }
}

.text {
    font-family:  var(--mantine-font-family) !important;
    font-size: 1rem !important;
    font-weight: 300 !important;
    text-transform: uppercase;
    margin: 0;
    letter-spacing: -0.025em;
    color: var(--mantine-color-white) !important;
    text-align: center;
    clear: both;
    @media (min-width: 1025px) {
        font-size: 20px !important;
    }
}

.formWrapper {
    overflow: hidden;
    display: block;
}

.contactForm {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: .5rem;

    fieldset {
        border: 0;
        padding: 0;
        margin: 0;
    }

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 1025px) {
        gap: 10px;
    }
}

.columnTwo {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    max-width: unset;

    @media screen and (min-width: 768px) {
        flex-direction: row;
    }

    @media screen and (min-width: 768px) {
        gap: 30px;
    }
}

.columnFirst {
    width: 100%;
}

.formField {
    width: 100% !important;
    float: none !important;
    position: relative;
    padding-bottom: 1.25rem;

    @media screen and (min-width: 768px) {
        width: calc(50% -(1.5rem / 2)) !important;
    }

    @media screen and (min-width: 1025px) {
        width: calc(50% -(30px / 2)) !important;
        padding-bottom: 25px;
    }
}

.contactForm label {
    display: block;
    font-size: .8rem !important;
    color: #eeeeee;
    text-transform: uppercase;
    text-align: left;
    margin-left: .25rem;
    letter-spacing: 0;

    @media screen and (min-width: 1025px) {
        margin-left: 5px;
        font-size: 16px !important;
    }
}

.contactForm label span {
    color: #eeeeee !important;
}

.inputText {
    width: 100% !important;
    color: var(--mantine-color-white) !important;
    background: none !important;
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 0.125rem solid #707070 !important;
    padding: .25rem !important;
    margin: 0 !important;
    line-height: 1.5 !important;
    font-family: inherit !important;
    font-size: 1rem !important;

    @media screen and (min-width: 1025px) {
        padding: 5px !important;
        border-bottom: 2px solid #707070 !important;
        height: 42px !important;
        font-size: 20px !important;
    }
}

.textConsent {
    word-break: break-word;
    text-align: center;
    margin-bottom: 1.5em !important;

    font-family: var(--mantine-font-family) !important;
    color: #b9b9b9 !important;
    font-size: 1rem !important;
    line-height: 1.5;
    letter-spacing: -0.025em;

    a {
        color: var(--mantine-color-white) !important;
        text-decoration-color: currentColor;
        text-decoration-thickness: .1em;
        text-underline-offset: .05em;
        transition: 0.3s;
    }

    @media screen and (min-width: 1025px) {
        margin-bottom: 30px !important;
        font-size: 20px !important;
    }
}

.btnWrapper {
    width: 100%;
    text-align: center;
}

.submitBtn {
    white-space: pre-wrap !important;
    cursor: pointer !important;

    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    font-weight: 700 !important;
    line-height: 1.5 !important;
    color: var(--mantine-color-white) !important;
    text-transform: uppercase;
    border: 0 !important;
    border-radius: 0.5rem !important;
    background-color: #444444 !important;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    -ms-transition: all .2s;
    width: 100% !important;
    max-width: 25rem !important;
    padding: 0.75em 1.5em !important;
    margin: 0 !important;
    margin-top: 1rem !important;

    @media screen and (min-width: 1025px) {
        border-radius: 10px !important;
        max-width: 500px !important;
        padding: 15px 30px !important;
        margin-top: 20px !important;
    }

}

.submitBtn:hover {
    background-color: #747272;
}

.inputError {
    list-style: none;
    font-size: .7em !important;
    color: #b9b9b9 !important;
    text-transform: uppercase;
    display: block;
    text-align: left;
    margin-left: .25rem;

    @media screen and (min-width: 1025px) {
        font-size: 14px !important;
        margin-left: 5px !important;
    }
}