/* PageLayout.module.css */
:root {
    .ame-centerContent-container {
        --header-height: 60px;
        --layout-padding: 0px;
        --center-column-max-width: 768px;
    }
}

.ame-centerContent-container {
    display: flex;
    justify-content: center;
    height: calc(100vh - var(--header-height) - var(--layout-padding));
}

.ame-centerContent-leftGapColumn, .rightGapColumn {
    flex-shrink: 1;
}

.ame-centerContent-centerColumn {
    max-width: var(--center-column-max-width);
    justify-content: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.ame-centerContent-mainContent {
    overflow: hidden;
    flex-grow: 1;

}

.ame-centerContent-topSection {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}


.ame-centerContent-bottomSection {
    position: absolute;
    bottom: 18px;
    left: 0;
    right: 0;
}
