.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: monospace;
}

@keyframes typing1 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCaret1 {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typewriter1 {
    overflow: hidden;
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation:
            typing1 3.5s steps(40, end),
            blinkCaret1 .75s step-end infinite;
}

@keyframes typing2 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCaret2 {
    from, to { border-color: transparent; }
    50% { border-color: red; }
}

.typewriter2 {
    overflow: hidden;
    border-right: .15em solid red;
    white-space: pre-line;
    margin: 0 auto;
    letter-spacing: .1em;
    animation:
            typing2 4s steps(50, end),
            blinkCaret2 .75s step-end infinite;
}

@keyframes typing3 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCaret3 {
    from, to { border-color: transparent; }
    50% { border-color: green; }
}

.typewriter3 {
    overflow: hidden;
    border-right: .15em solid green;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .2em;
    animation:
            typing3 5s steps(60, end),
            blinkCaret3 .75s step-end infinite;
}

@keyframes typing4 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCaret4 {
    from, to { border-color: transparent; }
    50% { border-color: blue; }
}

.typewriter4 {
    overflow: hidden;
    border-right: .15em solid blue;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .25em;
    animation:
            typing4 6s steps(70, end),
            blinkCaret4 .75s step-end infinite;
}

@keyframes typing5 {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blinkCaret5 {
    from, to { border-color: transparent; }
    50% { border-color: purple; }
}

.typewriter5 {
    overflow: hidden;
    border-right: .15em solid purple;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .3em;
    animation:
            typing5 7s steps(80, end),
            blinkCaret5 .75s step-end infinite;
}
