/* ResponseArea.module.css */

.container {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    position: relative;
    padding-bottom: 15rem;
    max-width: 778px;

}


.assistantResponseText {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.6rem;
    font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin-block: 0;
}

.userMessage {
    text-overflow: ellipsis;
    overflow: hidden;
    font-weight: 400;
    line-height: 1.6rem;
    font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin-block: 0;
    padding-top: 5px;
    position: relative;

}

.userEditActionIcon {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.1s ease;
}

.userEditActionIcon:hover {
    transform: scale(1.3);
}


.userMessage2:hover {
    color: #8aa7ca;
}

.userMessagePaper {
    transition: transform 0.3s ease;
    margin-left: 200px;
    border-width: 0.5px;
    border-style: solid;
    border-color: #8c8585;

}

.userMessagePaper:hover {
    box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1);
}

.userMessagePaper:hover .userEditActionIcon {
    opacity: 1;
}

.markdown {
    font-size: 0.875rem;
}

.markdown ul {
    padding-left: 1em;
}

.markdown ol {
    margin-top: 0.2em;
    padding-left: 1em;
}

.markdown li {
    margin-bottom: 0.5em;
}

.markdown p {
    margin: 0;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
    font-weight: bold;
    margin-top: 0.5em;
}

.markdown a {
    color: #0070f3;
    text-decoration: none;
}

.markdown a:hover {
    text-decoration: underline;
}

.markdown blockquote {
    margin: 0.2em 0;
    padding-left: 1em;
    border-left: 4px solid #ccc;
    color: #666;
}

.userMessagePaper {
    transition: filter 0.3s ease, background-color 0.3s ease;
}

.userMessagePaper:hover {
    filter: brightness(95%);
}

.customTableWrapper {
    margin: 20px 0;
    max-width: 780px;
}

.customTable {
    --table-vertical-spacing: calc(0.4375rem * var(--mantine-scale));
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.customTable[data-with-table-border="true"] {
    border: 1px solid #858484;
}

.customTableHead {
    background-color: #f0f0f0;
}

.customTableHeaderCell {
    border: 1px solid #ccc;
    padding: 8px;
}

.customTableBody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.customTableRow:hover {
    background-color: #e0e0e0;
}

.customTableCell {
    border: 1px solid #ccc;
    padding: 8px;
}

.newMessageIndicator {
    position: sticky;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #123dff;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

/*
Older CSS

.responseTextAreaCOPY {
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    font-size: 0.85rem;
    font-weight: 450;
    font-family: 'Google Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: normal;
    margin-block: 0;
    margin-left: 1px;

}

.containerCOPY {
    display: flex;
    flex-direction: column;
    min-height: 90vh;
    position: relative;
    padding-bottom: 1rem;

}

.scrollableCOPY {
    position: absolute;
    top: 0;
    left: 15px;
    right: 15px;
    bottom: 50px;
    overflow: scroll;

}
.scrollableBackup {
    position: absolute;
    top: 0;
    left: -120px;
    right: -25px;
    bottom: -200px;
    overflow: scroll;

}



 */
