/* ui/highlight/AmeCodeHighlight.module.css */

/* Global styles for dark mode */
.localClass :global([data-mantine-color-scheme="dark"]) {
    .codeSection :global(.m_1f5e827e) {
        --code-text-color: #ffffff; /* Bright white for general text */
        --code-background: #000000; /* Jet black for background */
        --code-comment-color: #6272a4; /* Dim gray for comments */
        --code-keyword-color: #188cff; /* Bright blue for keywords eg. 'def' */
        --code-tag-color: #da10b2; /* Bright pink for tags */
        --code-literal-color: #ab54f3; /* Bright purple for literals */
        --code-string-color: #0fe12b; /* Bright green for strings eg. 'imports and dict keys' */
        --code-variable-color: #2accef; /* Bright cyan for variables */
        --code-class-color: #fa1414; /* Bright red for classes ex. 'function name' */
    }

    .header {
        background-color: #494747; /* Dark gray for background */
        color: #f0f0f0; /* Light color for text */
    }

    .expandButton {
        color: #f0f0f0;
    }

    .expandButton:hover {
        color: #ffffff; /* Brighter color on hover */
    }

    .fadeOverlay {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #2c2c2c); /* Dark mode fade */
    }

    .codeSection :global(.mantine-CodeHighlight-pre::-webkit-scrollbar-track),
    .codeSection :global(.mantine-CodeHighlightTabs-pre::-webkit-scrollbar-track) {
        background: #2c2c2c; /* Darker track color */
    }
}

/* Global styles for light mode */
.localClass :global([data-mantine-color-scheme="light"]) {
    .codeSection :global(.m_1f5e827e) {
        --code-background: #e1e1e1; /* Slightly darker gray */
        --code-text-color: #000000; /* Black for general text */
    }

    .header {
        background-color: #322f2f; /* Light background */
        color: #ffffff; /* Darker text */
    }

    .expandButton {
        color: #ffffff;
    }

    .expandButton:hover {
        color: #c1c1c1; /* Darker color on hover */
    }

    .fadeOverlay {
        background: linear-gradient(to bottom, rgba(225, 225, 225, 0), #f1f1f1); /* Light mode fade */
    }

    .codeSection :global(.mantine-CodeHighlight-pre::-webkit-scrollbar-track),
    .codeSection :global(.mantine-CodeHighlightTabs-pre::-webkit-scrollbar-track) {
        background: #f1f1f1; /* Light track color */
    }
}

.codeSection :global(.mantine-CodeHighlight-pre),
.codeSection :global(.mantine-CodeHighlightTabs-pre) {
    background-color: var(--code-background);
    color: var(--code-text-color);
    border-radius: 4px;
    padding: 10px;
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 712px; /* Set maximum width */
}

.codeSection :global(.mantine-CodeHighlight-code),
.codeSection :global(.mantine-CodeHighlightTabs-code) {
    font-family: "ui-monospace", monospace;
    font-size: 12px;
}

/* TODO: Need to find out why there are two scroll bars. For now, I put one with height 0 (Used to be 6px) Custom scrollbar styles */
.codeSection :global(.mantine-CodeHighlight-pre::-webkit-scrollbar),
.codeSection :global(.mantine-CodeHighlightTabs-pre::-webkit-scrollbar) {
    height: 0; /* Height of the scrollbar */
}

.codeSection :global(.mantine-CodeHighlight-pre::-webkit-scrollbar-thumb),
.codeSection :global(.mantine-CodeHighlightTabs-pre::-webkit-scrollbar-thumb) {
    background: #888; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners */
}

.codeSection :global(.mantine-CodeHighlight-pre::-webkit-scrollbar-thumb:hover),
.codeSection :global(.mantine-CodeHighlightTabs-pre::-webkit-scrollbar-thumb:hover) {
    background: #555; /* Thumb color on hover */
}

/* Local styles for the header */
.header {
    padding: 4px 10px;
    font-size: 14px;
    border-top-left-radius: 8px; /* More rounded corners */
    border-top-right-radius: 8px; /* More rounded corners */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    background: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-8));
}

/* Local styles for the expand buttons */
.expandButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 12px;
    margin-left: 10px;
}

/* Local styles for the code section */
.codeSection {
    position: relative;
    max-width: 800px;
    margin: auto; /* Center the code section */
}

/* Styles for the code preview */
.codePreviewWrapper {
    position: relative;
    max-height: 250px;
    overflow: hidden;
}

.codePreview {
    overflow: hidden;
    position: relative; /* Ensure it positions correctly inside its wrapper */
}

/* Styles for the fade effect */
.fadeOverlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px; /* Make the effect more noticeable */
    pointer-events: none; /* Ensure it doesn't interfere with user clicks */
}

.button {
    font-family: "Inter", system-ui;
}
